<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/dfsvnv8pl/video/upload/e_reverse/v1576497369/cocktails/martini_sutbie.mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
    <div class="banner">
      <h1 id="header">Fancy Cocktails</h1>
          <br>
          <div class="subtext">
            <p>Enter into the World of delicious cocktails!</p>
            <p>Create your own</p>
            <%= link_to new_cocktail_path do %>
            <div class="btn btn-flat">Shake it!</div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</header>
  <div class="container h-100">
<div class="container-cards">

 <% @cocktails.each do |one_cocktail| %>
        <div class="card">
          <h4><%= link_to one_cocktail.name, one_cocktail %></h4>
          <h5><%=  one_cocktail.description%></h5>
          <br>

          <div id="removing-cocktail"><%= link_to 'delete', one_cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
        <% end %>
    </div>




