<div class="dose-form">
  <h1>Create your own doses here:</h1>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %> <!-- get description and display in index, cards -->
       <%= f.association :ingredient %> <!-- getting all ingredients from schema -->
        <%= f.submit "add a dose", class: "btn btn-primary" %>
    <% end %>
</div>




