.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  max-height: 400px;
  min-height: 100px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 9px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 18px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  line-height: 10px;
  margin-top: -0.2px;
}


#header {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: #221d23;
  text-shadow: 2px 2px #dc5311;
    /* margin: 10px 50px; */
  position: relative;
  left: 50%;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://res.cloudinary.com/dfsvnv8pl/video/upload/v1576497369/cocktails/martini_sutbie.mp4') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.subtext{
  position: relative;
  left: 80%;
  p{
    color: #221d23;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    position: relative;
    left: -30%;
    text-shadow: 2px 2px #b3afaf;

  }

}

