.btn.btn-flat{
background-color:#da6329;
border-radius: 10px;
box-shadow: 4px 1px 3px rgba(0,0,0,0.2);
color:white;
font-size:15px;
position: relative;
animation-name: shake;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in;
cursor: pointer;
margin-left: -310px;
box-shadow: 1px 4px 9px #585555;
}

.btn.btn-flat:before {
  font-size: 30px;
  text-shadow: 2px 2px #dc5311;
  }


.btn.btn-flat:hover{
animation-name: shakeAnim;
}

@keyframes shakeAnim {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

@keyframes shake {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

.btn.btn-primary{
background-color: #66e258;
border-radius: 10px;
box-shadow: 4px 1px 3px rgba(0,0,0,0.2);
color:white;
border: none;
font-size:15px;
}



.btn.btn-gradient{
background-color: #656564;
border-radius: 10px;
box-shadow: 4px 1px 3px rgba(0,0,0,0.2);
color:white;
font-size:15px;
position: relative;
left: 85%;
bottom: 30px;
}


