.container {
  width: 100%;
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}

.container-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding-top: 50px;
  background-color: #221d23;
}

.container-cards img{
  max-width: 310px;
  max-height: 170px;
  min-width: 200px;
  min-height: 170px;
  opacity: 80%;
  border-radius: 5px;
  margin-top: 10px;
}
 .wraper{
  .btn-primary{
    margin-top: 20px;
  }
 }

input#cocktail_image{
  overflow: visible;
  background-color: #2d7332;
  border-radius: 5px;
}
