#container1{
  background-color: rgba(34, 29, 35, 0.7);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  width: 50%;
  margin: 0 auto;

}

h3{
  color: white;
}

.string.required{
  font-size: 15px;
}

.string.required {
  font-size: 18px;
  border-radius: 5px;
}


