// Place all the styles related to the doses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn.btn-flat{
background-color: #66e258;
border-radius: 10px;
box-shadow: 4px 1px 3px rgba(0,0,0,0.2);
color:white;
font-size:15px;

}
