<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

    <%= image_tag "cocktail-logo.png" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">



<div id="examples">
        <%= link_to root_path class: "nav-link" do%>
        <p>Home</p>
        <% end %>
    </ul>
  </div>
</div>
